body{
    margin: 0;
    padding: 0;
    color: green;
    font-family: 'Marker Felt';

}
*{
    box-sizing: border-box;
    background-color: honeydew;
}
h1{
    font-size: 44px;
}
.container{
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.itemsBoard{
    width: 390px;
    display: flex;
    flex-wrap: wrap;
    margin-top:40px;
    margin-bottom: 50px;
    
}
.item{
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    border: 2px solid greenyellow;
    font-size: 110px;

}
.item.item0 , .item.item1, .item.item2{
    border-top: none;
}
.item.item0 , .item.item3, .item.item6{
    border-left: none;
}
.item.item0 , .item.item1, .item.item2{
    border-top: none;
}
.item.item6, .item.item7, .item.item8{
    border-bottom: none;
}
.item.item2 , .item.item5, .item.item8{
    border-right: none;
}

.restart{
    font-size: 25px;
    color: green;
    background-color: rgb(198, 240, 164);
    border: 1px solid green;
    border-radius: 5px;
    font-family: 'Marker Felt';
    padding: 10px;
    
}
.restart:hover {
    transform: scale(1.3);
  }
.text{
    font-size: 55px;
    color: blue;
    font-family: 'Marker Felt';
    padding-bottom: 15px;
}